{# templates/profile/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Profil - Interned{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon Profil</h1>
        <p>Page en construction</p>
    </div>
{% endblock %}
